tr.group,
tr.group:hover {
    background-color: #e2e2e2 !important;
}

.box {
    float: left;
    overflow: hidden;
}
/* Add padding and border to inner content
    for better animation effect */
.box-inner {
    width: 400px;
    padding: 10px;
    border: 1px solid #a29415;
}

.data-hover:hover {
    background: #EBF9FE;
}

.nav-pills > li > a {
    border-radius: 0;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

    .wrapper.toggled {
        padding-left: 250px;
        overflow: hidden;
    }

#wrapper.toggled {
    width: 250px;
}

#wrapper.toggled {
    position: relative;
    margin-right: 0px;
}

@@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

        #wrapper.toggled {
            width: 250px;
        }

        #wrapper.toggled {
            position: relative;
            margin-right: 0;
            padding-left: 250px;
        }
}

.th-left-sidebar {
    height: 55px;
    z-index: 9;
}

.filter-caret {
    padding: 3px;
    background: #000000;
    color: white;
    width: 16px;
    height: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.div-filter {
    padding: 10px;
    margin-left: -25px;
}

.fltr-p {
    color: #5f5555;
    margin-bottom: 0;
}

.mt-20 {
    margin-top: 20px;
}
